.cabecalho {
    background: #ec8632;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    /* justify-content: space-between;    */
    width: 100vw;
    margin: 0;
    flex-wrap: wrap; 
}

.titulo {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 10px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    
}

.titulo__avatar {
    height: 100px;
    width: 100px;
    text-align: center;
}

.menu {
    grid-row: 2/3;
    grid-column: 1/span 3;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-evenly;
    margin: auto;
}

.imagem__principal {
    height: 400px;
    width: 100%;
}

.missao__empresa {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.logo__whatsapp {
    width: 15px;
    font-weight: 15px;
}

/*
 ██████  ██████  ███    ██ ████████  █████  ████████  ██████
██      ██    ██ ████   ██    ██    ██   ██    ██    ██    ██
██      ██    ██ ██ ██  ██    ██    ███████    ██    ██    ██
██      ██    ██ ██  ██ ██    ██    ██   ██    ██    ██    ██
 ██████  ██████  ██   ████    ██    ██   ██    ██     ██████


*/
.contato {
    display: none;
    list-style-type: none;
}

.contato-item, .menu-item {
    text-decoration: none;
}

/*
 ██████  █████  ██████  ██████   █████  ██████  ██  ██████
██      ██   ██ ██   ██ ██   ██ ██   ██ ██   ██ ██ ██    ██
██      ███████ ██████  ██   ██ ███████ ██████  ██ ██    ██
██      ██   ██ ██   ██ ██   ██ ██   ██ ██      ██ ██    ██
 ██████ ██   ██ ██   ██ ██████  ██   ██ ██      ██  ██████


*/
.cardapio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: .1rem; */
}


.descricao--lanche {
    list-style-type: none;
    padding: 3px 0;
}

.imagem--lanche {
    width: 120px;
    height: 120px;
}

.container__comprar {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.comprar--lanche {
    height: 80px;
}

.cartao__lanche {
    padding: 5px
}

/*
 ██████  ██████       ██████  ██████  ██████  ███████
██    ██ ██   ██     ██      ██    ██ ██   ██ ██
██    ██ ██████      ██      ██    ██ ██   ██ █████
██ ▄▄ ██ ██   ██     ██      ██    ██ ██   ██ ██
 ██████  ██   ██      ██████  ██████  ██████  ███████
    ▀▀

*/

.container__qr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.qr__acesse--site, .qr__cardapio {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.acesse--site, .acesse--cardapio {
    margin: 5px 0;
}
.since, .autor {
    text-align: center;
}
/*
██████   ██████  ██████  ██    ██ ██████
██   ██ ██    ██ ██   ██ ██    ██ ██   ██
██████  ██    ██ ██████  ██    ██ ██████
██      ██    ██ ██      ██    ██ ██
██       ██████  ██       ██████  ██


*/

.popup__container {
    z-index: -1;
    opacity: 0;
    display: none;
    }
    
.popup__container.opened {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #222;
    color: white;
    font-size: 36px;
    font-weight: bold;
    z-index: 999;
    opacity: 1;
    display: flex;
}   

.botao {
    font-size: 16px;
}

.popup__texto {
    font-size: 24px;
    margin-top: 10px;
}

.popup__horario {
    z-index: -1;
    opacity: 0;
    transform: scale(.4);
}

.popup__horario.opened {
    position: absolute;
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
    z-index: 999;
    opacity: 1;
    transform: scale(1);
    display: block;
}
/*
███████  ██████  ██████  ███    ███ ██    ██ ██       █████  ██████  ██  ██████
██      ██    ██ ██   ██ ████  ████ ██    ██ ██      ██   ██ ██   ██ ██ ██    ██
█████   ██    ██ ██████  ██ ████ ██ ██    ██ ██      ███████ ██████  ██ ██    ██
██      ██    ██ ██   ██ ██  ██  ██ ██    ██ ██      ██   ██ ██   ██ ██ ██    ██
██       ██████  ██   ██ ██      ██  ██████  ███████ ██   ██ ██   ██ ██  ██████


*/
.formulario-contato {
    width: 240px;
    margin: 0 auto;
}

form, table {
    margin: 50px 30px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 90%;
}

.checkbox{
    margin: 20px 0;
}

.enviar {
    width: 100%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2); /*rotate(70deg); */
    transform: matrix3d(1,2);
}

th{
    background-color: #6d6b6b;
    border: solid 1px;
    padding: 8px 15px;
}

td{
    border: solid 1px;
    /* background-color: #d6d4d4; */
    padding: 8px 15px;
}

/*
                              █████  ███
                             ░░███  ░░░
 █████████████    ██████   ███████  ████   ██████       ████████ █████ ████  ██████  ████████  █████ ████
░░███░░███░░███  ███░░███ ███░░███ ░░███  ░░░░░███     ███░░███ ░░███ ░███  ███░░███░░███░░███░░███ ░███
 ░███ ░███ ░███ ░███████ ░███ ░███  ░███   ███████    ░███ ░███  ░███ ░███ ░███████  ░███ ░░░  ░███ ░███
 ░███ ░███ ░███ ░███░░░  ░███ ░███  ░███  ███░░███    ░███ ░███  ░███ ░███ ░███░░░   ░███      ░███ ░███
 █████░███ █████░░██████ ░░████████ █████░░████████   ░░███████  ░░████████░░██████  █████     ░░███████
░░░░░ ░░░ ░░░░░  ░░░░░░   ░░░░░░░░ ░░░░░  ░░░░░░░░     ░░░░░███   ░░░░░░░░  ░░░░░░  ░░░░░       ░░░░░███
                                                           ░███                                 ███ ░███
                                                           █████                               ░░██████
                                                          ░░░░░                                 ░░░░░░
*/
/*
███████ ██████   ██████  ██████  ██   ██
     ██      ██ ██  ████ ██   ██  ██ ██
    ██   █████  ██ ██ ██ ██████    ███
   ██   ██      ████  ██ ██       ██ ██
   ██   ███████  ██████  ██      ██   ██


*/
@media screen and (min-width: 720px){    
    .titulo__avatar {
        height: 150px;
        width: 150px;
    }

    .titulo {
        align-self: center;
        justify-content: center;
        margin: 0;

    }

    .menu {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        justify-content: space-evenly;
        margin: 0;
    }

    .contato {
        display: block;
        padding: 0 10px 0 10px;
        align-self: center;
    }

    .contato-item, .menu-item {
        font-size: 18px;
    }

    .cardapio {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .imagem--lanche {
        width: 240px;
        height: 240px;
    } 
    
    .formulario-contato {
        width: 640px;
        margin: 0 auto;
    }
    
    .popup__horario.opened {
        width: 600px;
        align-items: center;
    }

    .enviar {
        width: 200px;
    }
}
/*
 ██ ██   ██ ██   ██  ██████  ██████  ██   ██
███ ██   ██ ██   ██ ██  ████ ██   ██  ██ ██
 ██ ███████ ███████ ██ ██ ██ ██████    ███
 ██      ██      ██ ████  ██ ██       ██ ██
 ██      ██      ██  ██████  ██      ██   ██


*/
@media screen and (min-width: 1440px){
    
    .titulo {
        font-size: 36px;
    }
    
    .titulo__avatar {
        height: 200px;
        width: 200px;
    }
    
    .cardapio {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .imagem--lanche {
        width: 340px;
        height: 340px;
    }

    .contato-item, .menu-item {
        font-size: 26px;
    }

    .contato {
        font-size: 24px;
        font-weight: bold;
    }

    .menu {
        gap: 1.5rem;
        font-size: 40px;
        font-size: 32px;
    }
    
    .formulario-contato {
        width: 940px;
        margin: 0 auto;
    }

    .popup__horario.opened {
        width: 800px;
        align-items: center;
    }
    
    .qr__acesse--site, .qr__cardapio {
        width: 150px;
        height: 150px;
        margin: 20px 0;
    }
    
}